<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.popodyssey.rewardmax">

    <application
        android:label="Pop Odyssey Reward Max"
        android:icon="@android:drawable/ic_menu_preferences"
        android:theme="@android:style/Theme.NoDisplay">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Maximize rewards for Pop Odyssey ads" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:value="com.terraform.popodyssey" />
            
    </application>
</manifest>
